@import url('https://fonts.googleapis.com/css?family=News+Cycle|Rokitt|Signika+Negative|Montserrat');
/*.text-details {
	background : #232323;
	height: 60px;
	display: inline-block;
}*/
html { 
  background: #232323 no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h3{
	font-size: 25px;
	font-weight: bolder;
}

.navi {
  background: #1f7f5c;
  height: 40px;
  display: inline-block;
  width:1300px;
  position:relative;
}

.navi li {
  float: left;
  list-style-type: none;
  position: relative;
  color:white;
  width:auto;
  padding: 0 20px;
  text-decoration: none;
}

.navi li a {
  font-size: 16px; 
  line-height: 35px;
  float:left;
  color:white;
  width:auto;
  padding: 0 20px;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}

.text-details {
	margin-top: 5px;
	margin-right: 20px;
	color: white;
	font-size:18px;
}

.text-details li {
	float: left;
	list-style-type: none;
	position: relative;
	font-family: 'Signika Negative', sans-serif;
}

.poster {
	margin-left: 80px;
	margin-top: 20px;
}

textarea{
	margin-top: 5px;
	font-family: 'News Cycle', sans-serif;
	width: 800px;
	height: 400px;
	font-weight: bold;
	background-color: rgba(255, 255, 255,0.2);
	color: white;
	top:30%;
}

.submit-review
{
	margin-right:20px;
	top: 30%;

	position: relative;
}

.submit_btn{
	color: black;
	font-weight: bold;
	margin-top: 3px;
	padding: 5px;
	background : #1f7f5c;
}